
<div class="bg-red-500 my-4 w-full mx-auto p-4">
  <h1 class="text-white text-4xl">Linkr</h1>
  <p class="text-white text-2xl">Test test test 1</p>
  <p>Testing tailwind classes applied correctly</p>
</div>

